VITE_MEDIA_URL=/uploads
VITE_BASE_URL=/api
VITE_LOGIN_URL=/auth/login
VITE_SIGNUP_URL=/auth/signup
VITE_LOGOUT_URL=/auth/logout
VITE_REFRESH_URL=/auth/refresh
VITE_ARTWORK_PATH=/api/art
VITE_USER_PREFERENCES_PATH=/api/preferences
VITE_PROFILE_PATH=/api/profile
VITE_MASTERCLASS_PATH=/api/masterclasses
VITE_COUNTRIES_PATH=/api/countries
VITE_CITIES_PATH=/api/cities
VITE_EVENTS_PATH=/api/events
VITE_FREELANCE_PATH=/api/freelance
VITE_ART_CATEGORIES_PATH=/api/art_categories
VITE_COMMUNITIES_PATH=/api/community
VITE_POST_PATH=/api/post
VITE_LOCALSTORAGE_RECENT_COMMUNITIES=recentCommunities
VITE_RECENT_COMMUNITIES_LIMIT=20
