.art_type_1 {
  background: linear-gradient(to right, #3b8ed2, #125a90);
}

.art_type_2 {
  background: linear-gradient(to right, #338f50, #004f20);
}

.art_type_5 {
  background: linear-gradient(to right, #3baec1, #006e7a);
}

.art_type_6 {
  background: linear-gradient(to right, #4bcdb3, #007a6f);
}

.art_type_3 {
  background: linear-gradient(to right, #fab342, #c67910);
}

.art_type_4 {
  background: linear-gradient(to right, #e33535, #a30d0d);
}

.art_type_7 {
  background: linear-gradient(to right, #6d3aa3, #3e0f66);
}

.art_type_8 {
  background: linear-gradient(to right, #6fae35, #3f6008);
}

.art_type_9 {
  background: linear-gradient(to right, #f32474, #b20032);
}

.art_type_10 {
  background: linear-gradient(to right, #d0d800, #8a8d00);
}
