.art_type_1 {
  background-color: #196eb8;
}

.art_type_2 {
  background-color: #006030;
}

.art_type_3 {
  background-color: #00809a;
}

.art_type_4 {
  background-color: #009889;
}

.art_type_5 {
  background-color: #f69b13;
}

.art_type_6 {
  background-color: #d31010;
}

.art_type_7 {
  background-color: #561b86;
}

.art_type_8 {
  background-color: #569710;
}

.art_type_9 {
  background-color: #f30051;
}

.art_type_10 {
  background-color: #b2be00;
}
