@import "variables";

.cookies_consent_div {
  position: fixed;
  bottom: 0;
  left: 10vw;
  width: 80vw;
  height: 180px;
  background-color: $moon-yellow;
  color: black;
  z-index: 10000;
  transition: transform 0.3s ease-in-out;
  padding: 30px;
  transform: translateY(200px);
}

.cookies_consent_div--open {
  transform: translateY(0);
}

.cookies_consent_div--closed {
  transform: translateY(180px);
}

.cookies_consent_div__buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  border-radius: 3px;
  & button {
    background-color: rgba(238, 238, 238, 0.59);
    border: 1px solid rgb(162, 162, 162);
    border-radius: 3px;
    padding: 5px 30px;
    font-size: 1.26rem;
    font-weight: 500;
    transition: 0.1s;
    &:hover {
      filter: brightness(1.1);
      cursor: pointer;
    }
  }
  & button:nth-child(2) {
    background-color: darken($moon-yellow, 20%);
    filter: hue-rotate(-40deg);
    &:hover {
      filter: brightness(1.2) hue-rotate(-30deg);
    }
  }
}

.cookies_consent_img {
  transform: scale(1.4);
  margin-right: 30px;
}
