.events_main {
  padding-top: 130px;
}

.events_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 70px;
}

.events_header_title {
  color: white;
  font-size: 6rem;
}

.events_weekbox {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  padding: 0px 40px 0px 10px;
  width: 100%;
  align-items: center;
}

.events_weekbox_days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.events_weekbox_day {
  color: white;
  border: 1px solid white;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & span {
    font-size: 1.5rem;
  }
}

.events_weekbox_day--current {
}

.events_weekbox_left_button {
  & img {
    width: 80px;
    aspect-ratio: 1;
  }
  &:hover {
    cursor: pointer;
  }
}
.events_weekbox_right_button {
  & img {
    width: 80px;
    aspect-ratio: 1;
  }
  &:hover {
    cursor: pointer;
  }
}

.events_header_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
}

.events_header_week_month_button {
  font-size: 1.3rem;
  background: none;
  border: 1px solid rgb(219, 201, 201);
  color: white;
  padding: 10px 20px;
  min-width: 200px;

  &:hover {
    cursor: pointer;
  }
}

.event_main {
  background-color: $moon-yellow;
  padding: 5px;
  border: 1px solid black;
}

.event_details {
  display: flex;
  flex-direction: column;
}

.event_title {
  font-size: 1.4rem;
  font-weight: 700;
}

.events_display_wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0px 120px 0px 90px;
  width: 100%;
  align-items: start;
}
.events_display_day {
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & span {
    font-size: 1.5rem;
  }
}

.event_profile_picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;

  z-index: 1;
  object-fit: cover;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.385);
  display: inline-flex;
}

.event_profile_name {
  font-size: 1rem;
}

.events_display_event {
  color: black;
  border: 1px solid white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.event_profile {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  margin: 10px 0px;
}

.event_main--digital {
  background-color: rgb(249, 199, 161);
}

.event_main--physical {
  background-color: $moon-yellow;
}
