.events_main {
  padding-top: 130px;
}

.events_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.events_header_title {
  color: white;
}

.events_weekbox {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  padding: 0px 50px;
  width: 100%;
}

.events_weekbox_days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.events_weekbox_day {
  color: white;
  border: 1px solid white;
  aspect-ratio: 1.5/1;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events_weekbox_day--current {
}

.events_weekbox_left_button {
  width: 30px;
}
.events_weekbox_right_button {
  width: 30px;
}
