@import "responsive";

.events_main {
  padding-top: 130px;
}

.events_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin: 0px 120px 40px 90px;
  height: 300px;
}

.events_header--left {
  height: 100%;
  background-color: red;
  aspect-ratio: 1;
}

.events_header--right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.events_publish_event_button {
  width: 270px;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid rgba(245, 245, 245, 0.627);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 1.2rem;
  transition: 0.1s;
  background: none;
  color: $moon-yellow;
  font-size: 1.4rem;
  & img {
    display: inline;
    width: 35px;
    aspect-ratio: 1;
    margin-right: 10px;
  }
  &:hover {
    cursor: pointer;
    filter: brightness(1.1);
    color: white;
    border-color: white;
  }
}

.events_header_buttons_container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  width: 560px;
}

.events_header_buttons {
  display: flex;
  flex-direction: row;
  // align-items: center;
  column-gap: 10px;
}

.events_header_title {
  color: white;
  font-size: 6rem;
  @include M {
    font-size: 3rem;
  }
}

.events_weekbox {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  padding: 0px 40px 0px 10px;
  width: 100%;
  align-items: center;
}

.events_weekbox_days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.events_weekbox_day {
  color: white;
  border: 1px solid white;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & span {
    font-size: 1.5rem;
  }
}

.events_weekbox_day--current {
}

.events_weekbox_left_button {
  & img {
    width: 80px;
    aspect-ratio: 1;
  }
  &:hover {
    cursor: pointer;
  }
}
.events_weekbox_right_button {
  & img {
    width: 80px;
    aspect-ratio: 1;
  }
  &:hover {
    cursor: pointer;
  }
}

.event_main {
  background-color: $moon-yellow;
  padding: 5px 0px 10px;
  transition: 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.641);

  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.646);
  &:hover {
    transform: scale(1.04);
    cursor: pointer;
  }
}

.event_details {
  display: flex;
  flex-direction: column;
}

.event_details div {
  padding: 0px 10px;
}

.event_title {
  font-size: 1.4rem;
  font-weight: 700;
  background-color: black;
  color: $moon-yellow;
  padding: 10px !important;
}

.events_display_wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0px 120px 0px 90px;
  width: 100%;
  align-items: start;
}
.events_display_day {
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & span {
    font-size: 1.5rem;
  }
}

.event_profile_picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;

  z-index: 1;
  object-fit: cover;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.385);
  display: inline-flex;
}

.event_profile_name {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.events_display_event {
  color: black;
  border: 1px solid white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.event_profile {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  margin: 10px 0px;
}

.event_buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.event_main--digital {
  background-color: #d5ebff;
}

.event_main--physical {
  background-color: #d5ffef;
}

.events_header_location_img {
  width: 30px;
  aspect-ratio: 1;
  display: inline;
}

.events_location_dropdown {
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  height: 40px;
  font-size: 1.3rem;
  // padding-left: 7px;
}

.events_location_select {
  width: 150px;

  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  height: 40px;
  font-size: 1.3rem;
}

.event_description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px !important;
}

.event_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.event_buttons__like {
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 5px;
  padding: 7px 12px 3px;
  font-size: 1.2rem;
  color: rgb(0, 0, 35);
  font-weight: 600;
  transition: 0.1s;
  background: none;
  border: none;
  & img {
    display: inline;
  }
  &:hover {
    cursor: pointer;
  }
}

.events_no_events {
  color: lightgray;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 3rem;
}

.event_digital_banner {
  position: absolute;
  top: 19px;
  right: -4px;
  color: white;
  font-weight: 700;
  padding: 0px 5px 0px 0px;
  z-index: 500;
  background-color: rgb(0, 140, 255);
  transform: rotate(52deg);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    width: 0;
    height: 0;
    border-bottom: 24px solid rgb(0, 140, 255);
    border-left: 19px solid transparent;
    z-index: -1;
  }
}

.event_image {
  position: relative;
}
