.homepage_container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  position: relative;
  overflow-x: hidden;
}

.homepage__canvas {
  pointer-events: none;
  transition: 5s;
}

.homepage__greeting {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 20;
  top: 30vh;
  left: 5vw;
  max-width: 40vw;
  border-radius: 10px;
  // background-color: rgba(255, 249, 230, 0.1);
  color: white;
  padding: 40px 30px;
  & h1 {
    font-size: 3.2rem;
  }
  & p {
    display: block;
    padding: 20px 0px 30px;
  }
}

.start_tour_btn {
  color: rgba(255, 255, 255, 0);
  background-color: black;
  font-size: 2rem;
  border: 1px solid rgb(165, 104, 177);
  padding: 11px 30px 4px;
  border-radius: 5px;
  background: rgb(196, 73, 137);
  background: linear-gradient(
    338deg,
    rgba(196, 73, 137, 1) 21%,
    rgba(158, 39, 189, 1) 77%
  );
  background-clip: text;
  -moz-background-clip: text;
  &:hover {
    cursor: pointer;
    // border-color: rgb(139, 90, 148);
    filter: brightness(1.3);
  }
}
