@import "variables";
@import "responsive";

.navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
  padding: 1.8vh 2vw 0px;
  // font-family: Papyrus, fantasy;
  background-color: $transparent-black;
  backdrop-filter: blur(2px);

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      $transparent-black 100%
    );
    z-index: -1;
  }
}

.navBar__right {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.navBar_nav {
  color: rgb(243, 243, 243);
  font-size: 1rem;
  transition: 0.2s;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
    color: $moon-yellow;
  }
}
.default_btn {
  height: 40px;
  padding: 5px 12px 0px;
  border-radius: 5px;
}

.navBar_btn--signup {
  border: 1px solid black;
  font-weight: 700;
  width: 100px;
  background-color: rgb(243, 243, 243);
  font-size: 1.1rem;
  &:hover {
    cursor: pointer;
    filter: brightness(1.3);
  }
}

.navBar_btn--login {
  background: transparent;
  border: 1px solid rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  width: 100px;
  font-weight: 700;
  font-size: 1.1rem;
  &:hover {
    cursor: pointer;
    filter: brightness(1.3);
    color: white;
    border: 1px solid white;
  }
}

.navBar__title {
  color: $moon-yellow;
  font-size: 2.2rem;
  font-weight: bold;
  user-select: none;
  padding-top: 2px;
  padding-left: 10px;
  &:hover {
    transform: none;
  }
  @include Mnb {
    display: none;
  }
}

.navBar__left {
  display: flex;
  flex-direction: row;
}

.navBar__favicon {
  transform: translateY(-5px);
  width: 50px;
  height: 50px;
}

.account_circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
  &:hover {
    filter: brightness(1.3);
  }
}

.publish_button {
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 8px;
  border: none;
  width: 120px;
  height: 35px;
  color: white;
  border-radius: 6px;
  background-color: rgb(200, 0, 0);
  background: linear-gradient(120deg, rgb(224, 93, 93) 0%, rgb(150, 0, 0) 100%);
  border: 1px solid rgba(255, 255, 255, 0.644);
  & span {
    transform: translateY(2px);
  }
  &:hover {
    cursor: pointer;
    filter: brightness(1.3);
  }
}

.menu_button {
  position: relative;
  right: -29px;
  top: 2px;
  z-index: 2900;
  background: none;
  border: 1px solid $moon-yellow;
  padding: 11px;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
  }
}
