.navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 140;
  padding: 3vh 2vw;
}

.navBar__right {
  display: flex;
  column-gap: 30px;
}

.navBar_nav {
  color: white;
  font-family: papyrus;
  font-size: 1.3rem;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    filter: brightness(1.3);
    transform: scale(1.02);
  }
}

.navBar__title {
  color: rgba(255, 255, 207);
  font-size: 2.2rem;
  font-weight: bold;
  user-select: none;
  padding-top: 2px;
  padding-left: 10px;
  &:hover {
    transform: none;
  }
}

.navBar__left {
  display: flex;
  flex-direction: row;
}

.navBar__favicon {
  width: 50px;
  height: 50px;
}
