@import "variables";

.auth_wrapper {
  width: 400px;
  height: 500px;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
  overflow: hidden;
  position: absolute;
  z-index: 1200;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.484);
}

.auth_slider_div {
  width: 1200px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  z-index: 1000;
}

.auth_form_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 2000;
}

.popup_continue_btn {
  margin-top: 20px;
  background-color: $moon-yellow;
  width: 210px;
  height: 55px;
  border: 1px solid black;
  font-size: 1.3rem;
  transition: 0.2s;
  font-weight: 700;
  color: rgb(23, 22, 0);
  &:hover {
    background-color: $moon-yellow;
    cursor: pointer;
  }
}

.popup_login_btn {
  background-color: white;
  width: 100px;
  border: 1px solid black;
  font-size: 1.3rem;
  transition: 0.2s;
  &:hover {
    background-color: $moon-yellow;
    cursor: pointer;
  }
}

.form__ph__text--active {
  top: 3px;
  background-color: white;
  padding: 0px 4px;
  font-size: 0.7rem;
}

.login__label {
  position: relative;
}

.form__ph__text {
  position: absolute;
  left: 10px;
  top: 3px;
  transition: 0.15s;
  font-size: 1.2rem;
  pointer-events: none;
}

.form__ph__text--active {
  top: -11px;
  padding: 0px 4px;
  font-size: 0.8rem;
}

.error__message__span {
  width: 100%;
  font-size: 0.7rem;
  color: red;
  padding-top: 2px;
  display: block;
}

.forgot_psw_btn {
  color: blue;
  transition: 0.2s;
  background: none;
  border: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.already_have_account_btn {
  display: block;
  background: none;
  border: none;
  color: blue;
  height: 10px;
  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }
}

.login_div_create_account {
  border: 1px solid gray;
  background-color: rgba(11, 203, 69, 0.095);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: 0.2s;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.223);

  & h4 {
    color: $transparent-black;
  }
  & button {
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(1, 23, 2);
    background: none;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }
}

.login_div_btns {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.223);
  border: none;
}

.login__input {
  width: 210px;
  height: 35px;
}

.checkbox__input {
  width: auto;
  margin-right: 10px;
}

.login__input__dropdown {
  font-size: 1.3rem;
}
