@import "variables";

.post-main-container {
  background-color: $darkMode-contentBackground;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.post-title {
  color: $lightTextColor--highlight;
  font-weight: 700;
  font-size: 1.6rem;
}

.post-content {
  color: rgba(255, 255, 255, 0.778);
}

.post-details {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.639);
  border-top: 1px solid $lightSeperatorColor;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-profile--left {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;

  & img {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline;
  }

  @include S {
    flex-direction: column;
    row-gap: 5px;
    align-items: start;
  }
}

.post-profile--left-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.post-details-middledot {
  font-size: 1.2rem;
  padding: 0px 2px;
  @include S {
    display: none;
  }
}

.post-profile-name {
  font-weight: 600;
  &:hover {
    cursor: pointer;
    color: $lightTextColor--highlight;
  }
}

.post-carousel {
  display: flex;
  justify-content: center;
}

.post-carousel-div {
  width: 300px;
  height: 300px;
}

.post-profile--right {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.post-profile--right-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
  column-gap: 5px;
  & img {
    width: 22px;
  }
  &:hover {
    cursor: pointer;
  }
}

.post-community {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  padding: 5px 0px;
  color: $moon-yellow;
  font-size: 0.9rem;
  & img {
    width: 20px;
    aspect-ratio: 1;
    display: inline;
  }
}

.post-follow-toggle {
  font-size: 0.9rem;
  border-radius: 15px;
  padding: 0px 11px;
  border: 1px solid rgba(255, 255, 255, 0);

  transition: 0.1s;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.212);
    border: 1px solid $moon-yellow;
  }
}

.post-follow-toggle--unfollow {
  background-color: rgba(128, 128, 128, 0.727);
  color: white;
}

.post-follow-toggle--follow {
  background-color: $moon-yellow;
  font-weight: 600;
  color: black;
}

.post-community-middledot {
  font-size: 1.3rem;
  padding: 0px 6px;
}

.post-profile--right-like {
  width: 30px;
  &:hover {
    cursor: pointer;
  }
}
