@import "variables";
@import "responsive";

.profile_main_div {
  background-color: rgb(12, 12, 12);
  background: linear-gradient(
    180deg,
    rgb(14, 14, 14) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  min-height: 100vh;
}

.banner {
  position: relative;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.385);
}

.banner_img {
  object-fit: cover;
  width: 100%;
}

.banner_img_div {
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  @include S {
    height: 180px;
  }
}

.banner_edit_button {
  top: 260px;
  right: 80px;
  z-index: 10;
  background-color: white;
  transition: 0.1s;
  &:hover {
    cursor: pointer;
    background-color: $space-blue;
    transform: scale(1.05);
  }
}

.profile_picture {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: black;

  z-index: 1;
  object-fit: cover;
  border: 2px solid white;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.385);
  @include S {
    left: calc(50% - 65px);
  }
}

.profile_picture_div {
  position: relative;
}

.pp_edit_button {
  position: absolute;
  bottom: 0px;
  left: 110px;
  transition: 0.1s;
  &:hover {
    cursor: pointer;
    background-color: $space-blue;
    transform: scale(1.05);
  }
}

.profile_edit_button {
  position: absolute;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  border: 1px solid $moon-yellow;
}

.profile_display {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  padding: 75px 10vw 0px 6vw;
  position: relative;
  column-gap: 50px;
  @include S {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.profile_display--left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  transform: translateY(-150px);
  @include S {
    align-items: center;
  }
}

.profile_location {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.profile_name {
  font-size: 2rem;
  color: rgb(247, 247, 247);
}
.profile_detail {
  display: flex;
  align-items: center;
  column-gap: 15px;
  color: rgb(247, 247, 247);
  padding: 5px 0px;
  & img {
    display: inline-block;
  }
}

.profile_detail--freelance {
  color: green;
  font-weight: 700;
}

.profile_detail--website {
  color: rgb(247, 247, 247);

  &:hover {
    color: $moon-yellow;
    cursor: pointer;
  }
}

.profile_follow {
  color: rgb(216, 215, 215);
  margin-bottom: 10px;
  & h5 span {
    font-weight: 600;
    font-size: 1rem;
    color: rgb(247, 247, 247);
  }
}

.profile_connect_buttons {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  row-gap: 15px;
  margin-top: 20px;
  & button {
    width: 200px;
    padding: 8px 0px 5px;
    border-radius: 5px;
    border: 1px solid rgb(188, 188, 188);
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 15px;
    font-size: 1.3rem;
    transition: 0.1s;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 10px 5px;
    & img {
      transform: translateY(-1px);
      width: 30px;
    }
    &:hover {
      cursor: pointer;
      filter: brightness(1.1);
      color: $moon-yellow;
      transform: scale(1.02);
    }
  }
}

.follow {
  background-color: $moon-yellow;
}

.profile_display--right {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.display_nav {
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(121, 121, 121);
  border-radius: 3px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  position: relative;
  // box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.224);
  background: transparent;
  @include L {
    column-gap: 0px;
  }
  & button {
    border: none;
    background-color: transparent;
    color: rgb(213, 213, 213);

    &:hover {
      cursor: pointer;
      filter: brightness(1.2);
    }
    @include L {
      font-size: 1rem;
    }
  }
}

.edit_profile_button {
  position: absolute;
  right: 5vw;
  top: 25px;
  background-color: rgb(187, 0, 0);
  width: 180px;
  padding: 8px 0px 5px;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  transition: 0.1s;
  & img {
    transform: translateY(-1px);
  }
  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }
}

.profile-events {
  flex-wrap: wrap;
  width: 100%;
  column-gap: 20px;
  row-gap: 20px;
}

.profile-events > * {
  flex: 0 1 calc(33% - 20px);
  box-sizing: border-box;
}
