@import "variables";

.sidebar {
  background-color: $transparent-black;
  position: fixed;
  top: 70px;
  right: 0px;
  transform: translateX(190px);
  width: 240px;
  height: calc(100vh - 65px);
  padding: 1vh 1vw 5vh 1px;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(1px);
  &:hover {
    filter: brightness(1.1);
  }
}

.sidebar_overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 240px;
  height: calc(100vh - 65px);
  background: none;
  z-index: 2000;
  &:hover {
    cursor: pointer;
  }
}

.sidebar_overlay--closed {
  display: none;
}

.sidebar_open {
  transform: translateX(0);
}

.sidebar_list {
  display: flex;
  flex-direction: column;
}

.sidebar_option {
  color: rgba(255, 255, 255, 0.863);
  display: inline-block;
  width: 17vw;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 5px 15px;
  display: flex;
  column-gap: 13px;
  text-wrap: nowrap;
  &:hover {
    cursor: pointer;
    border: 1px solid $moon-yellow;
    border-radius: 5px;
  }
  & img {
    filter: brightness(0.9);
  }
}

.sidebar_separator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.stream_dot_flash {
  opacity: 0;
}

.display_nav--highlight {
  height: 2px;
  background-color: black;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sidebar_lastnav {
  font-size: 0.9rem;
}

.sidebar-hide-buttons {
  @include MnbR {
    display: none;
  }
}
