$moon-yellow: rgb(255, 255, 207); // #FFFFCF
$space-blue: rgb(218, 231, 253); // #DAE7FD
$transparent-black: rgba(0, 0, 0, 0.748);

$lightTextColor: rgba(255, 255, 255, 0.639); // #FFFFFFA3
$lightTextColor--highlight: rgba(255, 255, 255, 0.818); // #FFFFFFD1
$lightSeperatorColor: rgba(255, 255, 255, 0.064); // #FFFFFF10
$darkMode-contentBackground: rgb(27, 27, 27); // #242424
