.navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
  padding: 1.8vh 2vw 0px;
  background-color: rgba(0, 0, 0, 0.748);
  backdrop-filter: blur(2px);
}
.navBar::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.748) 100%);
  z-index: -1;
}

.navBar__right {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.navBar_nav {
  color: rgb(243, 243, 243);
  font-size: 1rem;
  transition: 0.2s;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
}
.navBar_nav:hover {
  cursor: pointer;
  color: rgb(255, 255, 207);
}

.default_btn {
  height: 40px;
  padding: 5px 12px 0px;
  border-radius: 5px;
}

.navBar_btn--signup {
  border: 1px solid black;
  font-weight: 700;
  width: 100px;
  background-color: rgb(243, 243, 243);
}
.navBar_btn--signup:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

.navBar_btn--login {
  background: transparent;
  border: 1px solid rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  width: 100px;
}
.navBar_btn--login:hover {
  cursor: pointer;
  filter: brightness(1.3);
  color: white;
  border: 1px solid white;
}

.navBar__title {
  color: rgb(255, 255, 207);
  font-size: 2.2rem;
  font-weight: bold;
  user-select: none;
  padding-top: 2px;
  padding-left: 10px;
}
.navBar__title:hover {
  transform: none;
}

.navBar__left {
  display: flex;
  flex-direction: row;
}

.navBar__favicon {
  transform: translateY(-5px);
  width: 50px;
  height: 50px;
}

.account_circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}
.account_circle:hover {
  filter: brightness(1.3);
}

.publish_button {
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 8px;
  border: none;
  width: 120px;
  height: 35px;
  color: white;
  border-radius: 6px;
  background-color: rgb(200, 0, 0);
  background: linear-gradient(120deg, rgb(224, 93, 93) 0%, rgb(150, 0, 0) 100%);
  border: 1px solid rgba(255, 255, 255, 0.644);
}
.publish_button span {
  transform: translateY(2px);
}
.publish_button:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

.homepage_container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  position: relative;
  overflow-x: hidden;
}

.homepage__canvas {
  pointer-events: none;
  transition: 5s;
}

.homepage__greeting {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 20;
  top: 30vh;
  left: 5vw;
  max-width: 40vw;
  border-radius: 10px;
  color: white;
  padding: 40px 30px;
}
.homepage__greeting h1 {
  font-size: 3.2rem;
}
.homepage__greeting p {
  display: block;
  padding: 20px 0px 30px;
}

.start_tour_btn {
  color: rgba(255, 255, 255, 0);
  background-color: black;
  font-size: 2rem;
  border: 1px solid rgb(165, 104, 177);
  padding: 11px 30px 4px;
  border-radius: 5px;
  background: rgb(196, 73, 137);
  background: linear-gradient(338deg, rgb(196, 73, 137) 21%, rgb(158, 39, 189) 77%);
  background-clip: text;
  -moz-background-clip: text;
}
.start_tour_btn:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

.profile_main_div {
  background-color: rgb(243, 243, 243);
  background-color: #fffffd;
  width: 100%;
  min-height: 100vh;
}

.banner {
  position: relative;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.385);
}
.banner img {
  object-fit: cover;
}

.banner_img_div {
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
}

.banner_edit_button {
  top: 260px;
  right: 1vw;
  background-color: rgb(255, 255, 207);
  z-index: 10;
}

.profile_picture {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: -65px;
  left: 50px;
  z-index: 1;
  object-fit: cover;
  border: 2px solid white;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.385);
}

.pp_edit_button {
  bottom: -65px;
  left: 140px;
  background-color: rgb(255, 255, 207);
  border-radius: 50%;
}

.profile_edit_button {
  position: absolute;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 10;
  border: 1px solid white;
}

.profile_display {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  padding: 75px 4.5vw 0px;
  position: relative;
}

.profile_display--left {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.profile_display--right {
  height: 100vh;
  width: 100%;
}

.profile_location {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.profile_name {
  font-size: 2rem;
}

.profile_detail {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: rgb(76, 76, 76);
  padding: 1px 0px;
}
.profile_detail img {
  display: inline-block;
}

.profile_follow {
  color: rgb(37, 37, 37);
  margin-bottom: 10px;
}
.profile_follow h5 span {
  font-weight: 600;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.profile_connect_buttons {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  row-gap: 10px;
}
.profile_connect_buttons button {
  width: 200px;
  padding: 8px 0px 5px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 1.2rem;
  transition: 0.3s;
}
.profile_connect_buttons button img {
  transform: translateY(-1px);
}
.profile_connect_buttons button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.follow {
  background-color: rgb(255, 255, 207);
}

.message {
  background-color: white;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.427);
  width: 100%;
  height: 100%;
}
.message:hover {
  background-color: rgb(255, 255, 207);
}

.profile_display--right {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.display_nav {
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(121, 121, 121);
  border-radius: 3px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  position: relative;
  background: transparent;
}
.display_nav button {
  border: none;
  background-color: transparent;
  color: rgb(44, 44, 44);
}
.display_nav button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.edit_profile_button {
  position: absolute;
  right: 5vw;
  top: 25px;
  background-color: rgb(255, 255, 207);
  width: 200px;
  padding: 8px 0px 5px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 1.2rem;
  transition: 0.3s;
}
.edit_profile_button img {
  transform: translateY(-1px);
}
.edit_profile_button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
.edit_profile_button:hover {
  background-color: rgb(255, 255, 207);
}

.artwork_column_displayer {
  column-count: 3;
  column-gap: 1rem;
  column-gap: 30px;
  align-items: start;
}

.artwork_column_displayer__artwork {
  break-inside: avoid;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.452);
  transition: 0.15s;
  border-radius: 2px;
  position: relative;
}
.artwork_column_displayer__artwork:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.column_artwork_details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.art_label_box {
  position: absolute;
  right: 0px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.artwork_title {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.artwork_price {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 5px;
}

.artwork_release_year {
  color: rgb(49, 49, 49);
}

.types_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
  transition: 0.2s;
}

.art_type {
  padding: 6px 16px;
  width: auto;
  height: 30px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.457);
  border: 1px solid rgba(0, 0, 0, 0.227);
  transition: 0.2s;
  font-size: 1.1rem;
  font-weight: 600;
}
.art_type:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.art_type span {
  transform: translateY(1px);
  color: white;
}

.art_type--selected {
  filter: brightness(1.2);
  transform: scale(1.1);
  border: 1px solid red;
}

.art_label {
  height: 20px;
  display: flex;
  align-self: end;
  width: fit-content;
  align-items: center;
  padding-left: 5px;
  background-color: rgb(255, 255, 207);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.215);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 0.8rem;
}

.art_label::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  right: -20px;
  top: -1px;
  background-color: rgb(255, 255, 207);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.215);
  border-top: 1px solid rgba(0, 0, 0, 0.215);
  border-bottom: 1px solid rgba(0, 0, 0, 0.215);
}

.art_label::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  right: -15px;
  top: 3px;
  background-color: rgb(255, 204, 0);
  border-radius: 50%;
  z-index: 50;
}

.artwork_loading1::after,
.artwork_loading4::after,
.artwork_loading5::after,
.artwork_loading6::after,
.artwork_loading7::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.artwork_loading {
  height: 270px;
  width: auto;
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  background-color: rgb(225, 225, 225);
  padding: 15px;
  row-gap: 2vh;
}

.artwork_loading1 {
  background-color: rgb(190, 190, 190);
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  overflow: hidden;
}

.artwork_loading2 {
  display: flex;
  align-items: center;
  padding-left: 1vw;
}

.artwork_loading3 {
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  row-gap: 5px;
}

.artwork_loading4 {
  width: 70%;
  height: 20px;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.artwork_loading5 {
  width: 40%;
  height: 10px;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.artwork_loading6 {
  width: 70%;
  height: 10px;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.artwork_loading7 {
  width: 50%;
  height: 10px;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.748);
  position: absolute;
  top: 85px;
  right: 0px;
  transform: translateX(20vw);
  width: 240px;
  height: calc(100vh - 65px);
  padding: 1vh 1vw 5vh;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(1px);
}
.sidebar::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0px;
  width: 100%;
  height: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.748) 0%, rgba(0, 0, 0, 0) 100%);
}

.sidebar_open {
  transform: translateX(0);
}

.sidebar_list {
  display: flex;
  flex-direction: column;
}

.sidebar_option {
  color: white;
  display: inline-block;
  width: 17vw;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.2s;
  padding: 5px 15px;
  display: flex;
  column-gap: 8px;
  text-wrap: nowrap;
}
.sidebar_option:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.644);
  border-radius: 5px;
  background-color: rgb(255, 255, 207);
  color: black;
}

.sidebar_separator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.stream_dot_flash {
  opacity: 0;
}

.display_nav--highlight {
  height: 2px;
  background-color: black;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sidebar_lastnav {
  font-size: 0.9rem;
}

.art_type_1 {
  background: linear-gradient(to right, #3b8ed2, #125a90);
}

.art_type_2 {
  background: linear-gradient(to right, #338f50, #004f20);
}

.art_type_5 {
  background: linear-gradient(to right, #3baec1, #006e7a);
}

.art_type_6 {
  background: linear-gradient(to right, #4bcdb3, #007a6f);
}

.art_type_3 {
  background: linear-gradient(to right, #fab342, #c67910);
}

.art_type_4 {
  background: linear-gradient(to right, #e33535, #a30d0d);
}

.art_type_7 {
  background: linear-gradient(to right, #6d3aa3, #3e0f66);
}

.art_type_8 {
  background: linear-gradient(to right, #6fae35, #3f6008);
}

.art_type_9 {
  background: linear-gradient(to right, #f32474, #b20032);
}

.art_type_10 {
  background: linear-gradient(to right, #d0d800, #8a8d00);
}

.cookies_consent_div {
  position: absolute;
  bottom: -100px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: red;
  color: white;
  z-index: 1000;
  transition: 0.3s;
}

.auth_form_div {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  row-gap: 2vh;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
  padding: 3vw;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
}

.login__input {
  padding-left: 10px;
  height: 40px;
  font-size: 1.2rem;
}

.login__input:focus {
  background-color: rgb(255, 255, 207);
  border: 1px solid rgb(150, 150, 150);
  border-radius: 2px;
}

.popup_login_btn {
  background-color: white;
  width: 100px;
  border: 1px solid black;
  font-size: 1.3rem;
  transition: 0.2s;
}
.popup_login_btn:hover {
  background-color: rgb(255, 255, 207);
  cursor: pointer;
}

.form__ph__text--active {
  top: 3px;
  background-color: white;
  padding: 0px 4px;
  font-size: 0.7rem;
}

.login__label {
  position: relative;
}

.form__ph__text {
  position: absolute;
  left: 10px;
  top: 7px;
  transition: 0.15s;
  font-size: 1.2rem;
}

.form__ph__text--active {
  top: -11px;
  padding: 0px 4px;
  font-size: 0.8rem;
}

.error__message__span {
  width: 100%;
  font-size: 0.7rem;
  color: red;
  padding-top: 4px;
}

.forgot_psw_btn {
  color: blue;
  transition: 0.2s;
}
.forgot_psw_btn:hover {
  text-decoration: underline;
}

.login_div_create_account {
  border: 1px solid gray;
  background-color: rgba(11, 203, 69, 0.095);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_div_create_account h4 {
  color: rgba(0, 0, 0, 0.748);
}
.login_div_create_account a {
  text-decoration: underline;
  font-weight: 600;
  color: blue;
}

.login_div_btns {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: rgb(255, 255, 253);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

input:focus {
  outline: none;
}

.main_div {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
}

.loading_div,
.fade_out_modal_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: black;
  opacity: 1;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  pointer-events: none;
  row-gap: 15px;
}

.footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: end;
  color: rgb(165, 104, 177);
  font-size: 0.8rem;
  font-weight: 600;
  padding-right: 20px;
  opacity: 0;
  transition: 5s;
}

.absoluteFullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.absoluteLargeFullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
}

.loadingBar_container {
  width: 200px;
  height: 30px;
  border: 1px solid white;
  overflow: hidden;
  z-index: 100;
}

.loadingProgress {
  z-index: 80;
  width: 200px;
  height: 30px;
  background-color: rgb(9, 97, 9);
  transition: 0.2s;
  transform: translateX(-200px);
}

.exposition__main_div {
  min-width: 1180px;
}

.modal_backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(1px);
}

.modalElement {
  position: absolute;
  z-index: 1000;
}