.navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
  padding: 1.8vh 2vw 0px;
  background-color: rgba(0, 0, 0, 0.748);
  backdrop-filter: blur(2px);
}
.navBar::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.748) 100%);
  z-index: -1;
}

.navBar__right {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.navBar_nav {
  color: rgb(243, 243, 243);
  font-size: 1rem;
  transition: 0.2s;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
}
.navBar_nav:hover {
  cursor: pointer;
  color: rgb(255, 255, 207);
}

.default_btn {
  height: 40px;
  padding: 5px 12px 0px;
  border-radius: 5px;
}

.navBar_btn--signup {
  border: 1px solid black;
  font-weight: 700;
  width: 100px;
  background-color: rgb(243, 243, 243);
  font-size: 1.1rem;
}
.navBar_btn--signup:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

.navBar_btn--login {
  background: transparent;
  border: 1px solid rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  width: 100px;
  font-weight: 700;
  font-size: 1.1rem;
}
.navBar_btn--login:hover {
  cursor: pointer;
  filter: brightness(1.3);
  color: white;
  border: 1px solid white;
}

.navBar__title {
  color: rgb(255, 255, 207);
  font-size: 2.2rem;
  font-weight: bold;
  user-select: none;
  padding-top: 2px;
  padding-left: 10px;
}
.navBar__title:hover {
  transform: none;
}
@media (max-width: 880px) {
  .navBar__title {
    display: none;
  }
}

.navBar__left {
  display: flex;
  flex-direction: row;
}

.navBar__favicon {
  transform: translateY(-5px);
  width: 50px;
  height: 50px;
}

.account_circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}
.account_circle:hover {
  filter: brightness(1.3);
}

.publish_button {
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 8px;
  border: none;
  width: 120px;
  height: 35px;
  color: white;
  border-radius: 6px;
  background-color: rgb(200, 0, 0);
  background: linear-gradient(120deg, rgb(224, 93, 93) 0%, rgb(150, 0, 0) 100%);
  border: 1px solid rgba(255, 255, 255, 0.644);
}
.publish_button span {
  transform: translateY(2px);
}
.publish_button:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

.menu_button {
  position: relative;
  right: -29px;
  top: 2px;
  z-index: 2900;
  background: none;
  border: 1px solid rgb(255, 255, 207);
  padding: 11px;
  border-radius: 2px;
}
.menu_button:hover {
  cursor: pointer;
}

.homepage_container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  position: relative;
  overflow-x: hidden;
}

.homepage__canvas {
  pointer-events: none;
  transition: 5s;
}

.homepage__greeting {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 20;
  top: 30vh;
  right: 5vw;
  max-width: 40vw;
  border-radius: 10px;
  color: white;
  padding: 40px 30px;
}
.homepage__greeting h1 {
  font-size: 3.3rem;
}
.homepage__greeting p {
  display: block;
  padding: 20px 0px 30px;
  font-size: 1.4rem;
  text-align: end;
}

.homepage_create_account {
  color: rgba(255, 255, 255, 0);
  background-color: black;
  font-size: 2rem;
  border: 1px solid rgb(165, 104, 177);
  padding: 11px 30px 4px;
  border-radius: 5px;
  background: rgb(196, 73, 137);
  background: linear-gradient(338deg, rgb(196, 73, 137) 21%, rgb(158, 39, 189) 77%);
  background-clip: text;
  -moz-background-clip: text;
}
.homepage_create_account:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

.profile_main_div {
  background-color: rgb(243, 243, 243);
  background-color: rgb(255, 255, 252.9);
  width: 100%;
  min-height: 100vh;
}

.banner {
  position: relative;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.385);
}
.banner img {
  object-fit: cover;
}

.banner_img_div {
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 750px) {
  .banner_img_div {
    height: 180px;
  }
}

.banner_edit_button {
  top: 260px;
  right: 80px;
  z-index: 10;
  background-color: white;
  border: 1px dotted rgb(0, 0, 0);
  transition: 0.1s;
}
.banner_edit_button:hover {
  cursor: pointer;
  background-color: rgb(218, 231, 253);
  transform: scale(1.05);
}

.profile_picture {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: -65px;
  left: 50px;
  z-index: 1;
  object-fit: cover;
  border: 2px solid white;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.385);
}
@media (max-width: 750px) {
  .profile_picture {
    left: calc(50% - 65px);
  }
}

.pp_edit_button {
  bottom: -65px;
  left: 140px;
  transition: 0.1s;
}
.pp_edit_button:hover {
  cursor: pointer;
  background-color: rgb(218, 231, 253);
  transform: scale(1.05);
}

.profile_edit_button {
  position: absolute;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px dotted rgb(116, 116, 116);
  z-index: 10;
  background-color: white;
}

.profile_display {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  padding: 75px 4.5vw 0px;
  position: relative;
}
@media (max-width: 750px) {
  .profile_display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.profile_display--left {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
@media (max-width: 750px) {
  .profile_display--left {
    align-items: center;
  }
}

.profile_display--right {
  height: 100vh;
  width: 100%;
}

.profile_location {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.profile_name {
  font-size: 2rem;
}

.profile_detail {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: rgb(76, 76, 76);
  padding: 1px 0px;
}
.profile_detail img {
  display: inline-block;
}

.profile_detail--freelance {
  color: green;
  font-weight: 700;
}

.profile_detail--website:hover {
  color: rgb(0, 0, 213);
  cursor: pointer;
}

.profile_follow {
  color: rgb(37, 37, 37);
  margin-bottom: 10px;
}
.profile_follow h5 span {
  font-weight: 600;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.profile_connect_buttons {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  row-gap: 10px;
}
.profile_connect_buttons button {
  width: 200px;
  padding: 8px 0px 5px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 1.2rem;
  transition: 0.3s;
}
.profile_connect_buttons button img {
  transform: translateY(-1px);
}
.profile_connect_buttons button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.follow {
  background-color: rgb(255, 255, 207);
}

.message {
  background-color: white;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.427);
  width: 100%;
  height: 100%;
}
.message:hover {
  background-color: rgb(255, 255, 207);
}

.profile_display--right {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.display_nav {
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(121, 121, 121);
  border-radius: 3px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  position: relative;
  background: transparent;
}
@media (max-width: 1160px) {
  .display_nav {
    column-gap: 0px;
  }
}
.display_nav button {
  border: none;
  background-color: transparent;
  color: rgb(44, 44, 44);
}
.display_nav button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
@media (max-width: 1160px) {
  .display_nav button {
    font-size: 1rem;
  }
}

.edit_profile_button {
  position: absolute;
  right: 5vw;
  top: 25px;
  background-color: rgb(255, 255, 207);
  width: 200px;
  padding: 8px 0px 5px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 1.2rem;
  transition: 0.3s;
}
.edit_profile_button img {
  transform: translateY(-1px);
}
.edit_profile_button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
.edit_profile_button:hover {
  background-color: rgb(255, 255, 207);
}

.artwork_column_displayer {
  column-count: 3;
  column-gap: 1rem;
  column-gap: 30px;
  align-items: start;
}

.artwork_column_displayer__artwork {
  break-inside: avoid;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.452);
  transition: 0.15s;
  border-radius: 2px;
  position: relative;
}
.artwork_column_displayer__artwork:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.column_artwork_details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.art_label_box {
  position: absolute;
  right: 0px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.artwork_title {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.artwork_price {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 5px;
}

.artwork_release_year {
  color: rgb(49, 49, 49);
}

.types_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
  transition: 0.2s;
  transform: translateX(5px);
}

.art_type {
  padding: 6px 16px;
  width: auto;
  height: 30px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.457);
  border: 1px solid rgba(0, 0, 0, 0.227);
  transition: 0.2s;
  font-size: 1.1rem;
  font-weight: 600;
}
.art_type:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.art_type span {
  transform: translateY(1px);
  color: white;
}

.art_type--selected {
  filter: brightness(1.2);
  transform: scale(1.1);
  border: 1px solid red;
}

.art_label {
  height: 20px;
  display: flex;
  align-self: end;
  width: fit-content;
  align-items: center;
  padding-left: 5px;
  background-color: rgb(255, 255, 207);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.215);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 0.8rem;
}

.art_label::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  right: -20px;
  top: -1px;
  background-color: rgb(255, 255, 207);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.215);
  border-top: 1px solid rgba(0, 0, 0, 0.215);
  border-bottom: 1px solid rgba(0, 0, 0, 0.215);
}

.art_label::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  right: -15px;
  top: 3px;
  background-color: rgb(255, 204, 0);
  border-radius: 50%;
  z-index: 50;
}

.artwork_loading1::after,
.artwork_loading4::after,
.artwork_loading5::after,
.artwork_loading6::after,
.artwork_loading7::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.artwork_loading {
  height: 270px;
  width: auto;
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  background-color: rgb(225, 225, 225);
  padding: 15px;
  row-gap: 2vh;
}

.artwork_loading1 {
  background-color: rgb(190, 190, 190);
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  overflow: hidden;
}

.artwork_loading2 {
  display: flex;
  align-items: center;
  padding-left: 1vw;
}

.artwork_loading3 {
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  row-gap: 5px;
}

.artwork_loading4 {
  width: 70%;
  height: 20px;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.artwork_loading5 {
  width: 40%;
  height: 10px;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.artwork_loading6 {
  width: 70%;
  height: 10px;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.artwork_loading7 {
  width: 50%;
  height: 10px;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.audible_main_div_list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.track_main_div {
  border: 1px solid rgba(57, 24, 4, 0.442);
  width: 50vw;
  padding: 18px 20px 7px;
  border-radius: 5px;
  background-color: rgb(247.0307692308, 249.8307692308, 254.5692307692);
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 15px;
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.452);
}

.track_thumbnail {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.track_main_li {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.track_meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.track_main_li__upper {
  display: flex;
  flex-direction: row;
  align-items: end;
  column-gap: 10px;
}

.track_play {
  display: inline;
}

.track_canvasBox {
  display: inline;
}

.track_play_button {
  border: 1px solid rgb(61, 120, 186);
  box-shadow: 0px 0px 5px 1px rgba(61, 119, 186, 0.396);
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  color: rgb(218, 231, 253);
  color: rgb(61, 120, 186);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}
.track_play_button:hover {
  filter: brightness(1.4);
  cursor: pointer;
}
.track_play_button:active {
  background-color: rgb(200, 179, 243);
}
.track_play_button img {
  width: 100%;
  height: 100%;
}

.track_meta__separator {
  margin: 0px 10px;
  font-weight: 700;
}

.track_meta_ry {
  color: rgb(58, 58, 58);
  font-size: 0.9rem;
}

.art_meta_like {
  display: inline;
  width: 20px;
  aspect-ratio: 1;
}
.art_meta_like:hover {
  cursor: pointer;
}

.track_meta_delete {
  border: none;
  background: none;
  color: red;
}
.track_meta_delete img {
  width: 19px;
  aspect-ratio: 1;
  display: inline;
  transform: translateY(3px);
}
.track_meta_delete:hover {
  cursor: pointer;
  color: red;
  transform: scale(1.02);
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.748);
  position: fixed;
  top: 70px;
  right: 0px;
  transform: translateX(190px);
  width: 240px;
  height: calc(100vh - 65px);
  padding: 1vh 1vw 5vh 1px;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(1px);
}
.sidebar:hover {
  filter: brightness(1.1);
}

.sidebar_overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 240px;
  height: calc(100vh - 65px);
  background: none;
  z-index: 2000;
}
.sidebar_overlay:hover {
  cursor: pointer;
}

.sidebar_overlay--closed {
  display: none;
}

.sidebar_open {
  transform: translateX(0);
}

.sidebar_list {
  display: flex;
  flex-direction: column;
}

.sidebar_option {
  color: rgba(255, 255, 255, 0.863);
  display: inline-block;
  width: 17vw;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 5px 15px;
  display: flex;
  column-gap: 13px;
  text-wrap: nowrap;
}
.sidebar_option:hover {
  cursor: pointer;
  border: 1px solid rgb(255, 255, 207);
  border-radius: 5px;
}
.sidebar_option img {
  filter: brightness(0.9);
}

.sidebar_separator {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.stream_dot_flash {
  opacity: 0;
}

.display_nav--highlight {
  height: 2px;
  background-color: black;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sidebar_lastnav {
  font-size: 0.9rem;
}

.art_type_1 {
  background: linear-gradient(to right, #3b8ed2, #125a90);
}

.art_type_2 {
  background: linear-gradient(to right, #338f50, #004f20);
}

.art_type_5 {
  background: linear-gradient(to right, #3baec1, #006e7a);
}

.art_type_6 {
  background: linear-gradient(to right, #4bcdb3, #007a6f);
}

.art_type_3 {
  background: linear-gradient(to right, #fab342, #c67910);
}

.art_type_4 {
  background: linear-gradient(to right, #e33535, #a30d0d);
}

.art_type_7 {
  background: linear-gradient(to right, #6d3aa3, #3e0f66);
}

.art_type_8 {
  background: linear-gradient(to right, #6fae35, #3f6008);
}

.art_type_9 {
  background: linear-gradient(to right, #f32474, #b20032);
}

.art_type_10 {
  background: linear-gradient(to right, #d0d800, #8a8d00);
}

.cookies_consent_div {
  position: fixed;
  bottom: 0;
  left: 10vw;
  width: 80vw;
  height: 180px;
  background-color: rgb(255, 255, 207);
  color: black;
  z-index: 10000;
  transition: transform 0.3s ease-in-out;
  padding: 30px;
  transform: translateY(200px);
}

.cookies_consent_div--open {
  transform: translateY(0);
}

.cookies_consent_div--closed {
  transform: translateY(180px);
}

.cookies_consent_div__buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  border-radius: 3px;
}
.cookies_consent_div__buttons button {
  background-color: rgba(238, 238, 238, 0.59);
  border: 1px solid rgb(162, 162, 162);
  border-radius: 3px;
  padding: 5px 30px;
  font-size: 1.26rem;
  font-weight: 500;
  transition: 0.1s;
}
.cookies_consent_div__buttons button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}
.cookies_consent_div__buttons button:nth-child(2) {
  background-color: #ffff69;
  filter: hue-rotate(-40deg);
}
.cookies_consent_div__buttons button:nth-child(2):hover {
  filter: brightness(1.2) hue-rotate(-30deg);
}

.cookies_consent_img {
  transform: scale(1.4);
  margin-right: 30px;
}

.canvas_1_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: white;
  opacity: 1;
  transition: 1s;
}

.canvas_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  opacity: 0.08;
}

.canvas_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  z-index: -1;
}

.canvas_3_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background: rgb(0, 0, 0);
  opacity: 1;
  transition: 1s;
  pointer-events: none;
}

.create_popup_wrapper {
  width: 800px;
  height: 600px;
  left: calc(50% - 400px);
  top: calc(50% - 300px);
  overflow-y: scroll;
  scrollbar-width: none;
  position: absolute;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: inset 1px 0px 10px 5px rgb(255, 255, 207);
  border: 1px solid rgb(255, 255, 207);
}

.popup_form {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.484);
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.68);
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  padding: 30px 50px;
}

.popup_form__image {
  border: 1px dotted white;
  position: relative;
  background-color: rgb(155, 161, 125);
}
.popup_form__image:hover {
  cursor: pointer;
}
.popup_form__image img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
}

.popup_form__image_input {
  width: 300px;
  aspect-ratio: 1;
  background-color: gray;
  opacity: 0;
  position: relative;
}
.popup_form__image_input:hover {
  cursor: pointer;
}

.popup_form__image_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
}

.popup_form__input {
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  height: 40px;
  padding-left: 7px;
  width: 310px;
  font-size: 1.3rem;
}

.popup_form__date_input {
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  height: 40px;
  font-size: 1.3rem;
  padding-left: 7px;
  width: 150px;
}

.popup_form__textarea {
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  resize: none;
  padding-left: 7px;
  width: 310px;
  font-size: 1.3rem;
  height: 120px;
}

.popup_form__dropdown {
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  height: 40px;
  font-size: 1.3rem;
  width: 150px;
  display: inline-block;
  padding-left: 7px;
}

.popup_form__location {
  display: flex;
  column-gap: 10px;
}

.popup_form__submit {
  background-color: black;
  border: 1px solid gray;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  height: 50px;
  width: 215px;
  border-radius: 3px;
  background-color: rgb(255, 255, 207);
  transition: 0.2s;
  margin-top: 15px;
}
.popup_form__submit:hover {
  cursor: pointer;
  filter: brightness(1.08);
}

.popup_form__digital {
  color: rgb(201, 201, 201);
  font-size: 1.3rem;
  column-gap: 10px;
  display: flex;
}

.popup_form--fade-out {
  opacity: 0;
}

.popup_form__number {
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  align-items: center;
  width: 70px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.popup_form__session {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.popup_form__sessions_text {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 700;
  background-color: rgba(255, 166, 0, 0.624);
  width: 230px;
  border-radius: 3px;
  text-align: center;
}

.popup_form__is_digital_text {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 166, 0, 0.624);
  padding-left: 10px;
  width: 190px;
  border-radius: 3px;
}

.create_popup_wrapper__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 6000;
  background-color: black;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.create_popup_wrapper__overlay img {
  width: 100px;
  height: 100px;
}
.create_popup_wrapper__overlay span {
  color: rgb(96, 131, 62);
  font-size: 1.3rem;
}

.create_popup_wrapper__overlay--open {
  opacity: 1;
  animation: shineAnimation 1s linear 0.2s 1 forwards;
}

@keyframes shineAnimation {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(2);
  }
}
.popup_form__label {
  position: relative;
}

.auth_wrapper {
  width: 400px;
  height: 500px;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
  overflow: hidden;
  position: absolute;
  z-index: 1200;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.484);
  transition: 0.2s;
}

.auth_slider_div {
  width: 800px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  z-index: 1000;
}

.auth_form_div {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 2000;
  transition: 0.15s;
}

.popup_continue_btn {
  margin-top: 20px;
  background-color: rgb(255, 255, 207);
  width: 210px;
  height: 55px;
  border: 1px solid black;
  font-size: 1.3rem;
  transition: 0.2s;
  font-weight: 700;
  color: rgb(23, 22, 0);
}
.popup_continue_btn:hover {
  background-color: rgb(255, 255, 207);
  cursor: pointer;
}

.popup_login_btn {
  background-color: white;
  width: 100px;
  border: 1px solid black;
  font-size: 1.3rem;
  transition: 0.2s;
}
.popup_login_btn:hover {
  background-color: rgb(255, 255, 207);
  cursor: pointer;
}

.form__ph__text--active {
  top: 3px;
  background-color: white;
  padding: 0px 4px;
  font-size: 0.7rem;
}

.login__label {
  position: relative;
}

.form__ph__text {
  position: absolute;
  left: 10px;
  top: 3px;
  transition: 0.15s;
  font-size: 1.2rem;
  pointer-events: none;
}

.form__ph__text--active {
  top: -11px;
  padding: 0px 4px;
  font-size: 0.8rem;
}

.error__message__span {
  width: 100%;
  font-size: 0.7rem;
  color: red;
  padding-top: 2px;
  display: block;
}

.forgot_psw_btn {
  color: blue;
  transition: 0.2s;
  background: none;
  border: none;
}
.forgot_psw_btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.already_have_account_btn {
  display: block;
  background: none;
  border: none;
  color: blue;
  height: 10px;
}
.already_have_account_btn:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.login_div_create_account {
  border: 1px solid gray;
  background-color: rgba(11, 203, 69, 0.095);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: 0.2s;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.223);
}
.login_div_create_account h4 {
  color: rgba(0, 0, 0, 0.748);
}
.login_div_create_account button {
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(1, 23, 2);
  background: none;
  border: none;
}
.login_div_create_account button:hover {
  cursor: pointer;
}
.login_div_create_account:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.login_div_btns {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.223);
  border: none;
}

.login__input {
  width: 210px;
  height: 35px;
}

.checkbox__input {
  width: auto;
  margin-right: 10px;
}

.login__input__dropdown {
  font-size: 1.3rem;
}

.auth_wrapper--success {
  transform: scale(0.3);
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.auth_form_div--fade-out {
  opacity: 0;
}

.auth_success {
  opacity: 0;
  transform: scale(0);
  transition: 0.2s;
  z-index: 3000;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}
.auth_success img {
  width: 180px;
  height: 180px;
}

.auth_success--fade-in {
  opacity: 1;
  transform: scale(2);
}

.login_confirmation_animation--open {
  transform: scale(1);
  color: black;
}

.signup_confirmation_animation {
  display: flex;
  width: 400px;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.15s;
  background-color: green;
  position: absolute;
  right: -200px;
  top: 0px;
  color: white;
  z-index: 2500;
}

.signup_confirmation_animation--open {
  transform: scale(1);
  color: black;
}

.tooltip_wrapper {
  left: 50%;
  transform: translateX(-50%);
  color: rgba(11, 14, 1, 0.762);
  background-color: rgb(255, 255, 207);
  font-size: 1rem;
  opacity: 0;
  position: absolute;
  padding: 10px 5px;
  z-index: 8000;
  white-space: nowrap;
  max-width: 100%;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip_top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 40px;
  height: 60px;
  background: none;
  top: 0;
  opacity: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid rgb(255, 255, 207);
  z-index: 5000;
}

.tooltip_bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 40px;
  height: 60px;
  background-color: none;
  opacity: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid rgb(255, 255, 207);
}

.events_main {
  padding-top: 130px;
}

.events_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin: 0px 120px 40px 90px;
  height: 500px;
}

.events_header--left {
  height: 100%;
  background-color: red;
  aspect-ratio: 1;
}

.events_header--right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.events_publish_event_button {
  width: 270px;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid rgba(245, 245, 245, 0.627);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 1.2rem;
  transition: 0.1s;
  background: none;
  color: rgb(255, 255, 207);
  font-size: 1.4rem;
}
.events_publish_event_button img {
  display: inline;
  width: 35px;
  aspect-ratio: 1;
  margin-right: 10px;
}
.events_publish_event_button:hover {
  cursor: pointer;
  filter: brightness(1.1);
  color: white;
  border-color: white;
}

.events_header_buttons_container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  width: 560px;
}

.events_header_buttons {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.events_header_title {
  color: white;
  font-size: 6rem;
}
@media (max-width: 1160px) {
  .events_header_title {
    font-size: 3rem;
  }
}

.events_weekbox {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  padding: 0px 40px 0px 10px;
  width: 100%;
  align-items: center;
}

.events_weekbox_days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.events_weekbox_day {
  color: white;
  border: 1px solid white;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.events_weekbox_day span {
  font-size: 1.5rem;
}

.events_weekbox_left_button img {
  width: 80px;
  aspect-ratio: 1;
}
.events_weekbox_left_button:hover {
  cursor: pointer;
}

.events_weekbox_right_button img {
  width: 80px;
  aspect-ratio: 1;
}
.events_weekbox_right_button:hover {
  cursor: pointer;
}

.event_main {
  background-color: rgb(255, 255, 207);
  padding: 5px 5px 10px;
  transition: 0.2s;
  border-bottom: 1px solid black;
}
.event_main:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.event_details {
  display: flex;
  flex-direction: column;
}

.event_title {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 5px 0px;
}

.events_display_wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0px 120px 0px 90px;
  width: 100%;
  align-items: start;
}

.events_display_day {
  color: white;
  border: 1px solid white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.events_display_day span {
  font-size: 1.5rem;
}

.event_profile_picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  z-index: 1;
  object-fit: cover;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.385);
  display: inline-flex;
}

.event_profile_name {
  font-size: 1rem;
}

.events_display_event {
  color: black;
  border: 1px solid white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.event_profile {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  margin: 10px 0px;
}

.event_main--digital {
  background-color: #d5ebff;
}

.event_main--physical {
  background-color: rgb(255, 255, 207);
}

.events_header_location_img {
  width: 30px;
  aspect-ratio: 1;
  display: inline;
}

.events_location_dropdown {
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  height: 40px;
  font-size: 1.3rem;
}

.events_location_select {
  width: 150px;
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  height: 40px;
  font-size: 1.3rem;
}

.event_description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event_buttons__like {
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 5px;
  border: 1px solid gray;
  padding: 7px 12px 3px;
  border-radius: 5px;
  font-size: 1.2rem;
  color: rgb(0, 0, 35);
  font-weight: 600;
  background-color: white;
  transition: 0.1s;
}
.event_buttons__like img {
  display: inline;
}
.event_buttons__like:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 207);
}

.event_popup_wrapper {
  width: 800px;
  height: 600px;
  left: calc(50% - 400px);
  top: calc(50% - 300px);
  overflow-y: scroll;
  scrollbar-width: none;
  position: absolute;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: inset 1px 0px 10px 5px black;
  border: 1px solid rgb(255, 255, 207);
  background: linear-gradient(-35deg, black 20%, rgb(255, 255, 207) 100%);
  padding: 20px;
}

.event_popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.event_popup_details {
  color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  padding: 15px;
}

.event_popup_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event_popup_profile_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
  z-index: 1;
  object-fit: cover;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.385);
  display: inline-flex;
  margin-right: 12px;
}

.event_popup_profile_name {
  font-size: 1.4rem;
  transition: 0.1s;
  color: rgb(245, 245, 245);
}
.event_popup_profile_name:hover {
  color: rgb(255, 255, 207);
  cursor: pointer;
}

.event_popup_location_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event_popup_location_img {
  display: inline;
  width: 35px;
  aspect-ratio: 1;
  margin-right: 5px;
}

.events_new_event_button {
  width: 250px;
  padding: 15px 0px;
  border-radius: 5px;
  border: 1px solid rgba(245, 245, 245, 0.627);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 1.2rem;
  transition: 0.1s;
  background: none;
  color: rgb(245, 245, 245);
  font-size: 1.4rem;
}
.events_new_event_button img {
  display: inline;
}
.events_new_event_button:hover {
  cursor: pointer;
  filter: brightness(1.1);
  color: white;
  border-color: white;
}

.image_popup_wrapper {
  width: 400px;
  height: 450px;
  left: calc(50% - 200px);
  top: calc(50% - 225px);
  overflow-y: scroll;
  scrollbar-width: none;
  position: absolute;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: inset 1px 0px 10px 5px rgb(255, 255, 207);
  border: 1px solid rgb(255, 255, 207);
}

.image_popup_form {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.484);
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.68);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 30px 50px;
}

.image_form__image {
  border: 1px dotted white;
  position: relative;
  background-color: rgb(155, 161, 125);
}
.image_form__image:hover {
  cursor: pointer;
}
.image_form__image img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
}

.popup_form__image_input {
  width: 300px;
  aspect-ratio: 1;
  background-color: gray;
  opacity: 0;
  position: relative;
}
.popup_form__image_input:hover {
  cursor: pointer;
}

.image_form__image_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
}

.popup_form__input {
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  height: 40px;
  padding-left: 7px;
  width: 310px;
  font-size: 1.3rem;
}

.image_popup_form__save {
  background-color: black;
  border: 1px solid gray;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  height: 50px;
  width: 215px;
  border-radius: 3px;
  background-color: rgb(255, 255, 207);
  transition: 0.2s;
  margin-top: 15px;
}
.image_popup_form__save:hover {
  cursor: pointer;
  filter: brightness(1.08);
}
.image_popup_form__save:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.popup_form__digital {
  color: rgb(201, 201, 201);
  font-size: 1.3rem;
  column-gap: 10px;
  display: flex;
}

.popup_form--fade-out {
  opacity: 0;
}

.popup_form__number {
  background-color: black;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  align-items: center;
  width: 70px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.image_popup_wrapper__response_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 7000;
  background-color: black;
  transition: 0.5s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}
.image_popup_wrapper__response_overlay img {
  width: 100px;
  height: 100px;
}

.image_popup_wrapper__response_overlay--open {
  pointer-events: all;
  opacity: 1;
  animation: shineAnimation 1s linear 0.2s 1 forwards;
}

@keyframes shineAnimation {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(2);
  }
}
.popup_form__label {
  position: relative;
}

.image_popup_wrapper__response_overlay--success {
  color: rgb(96, 131, 62);
}

.image_popup_wrapper__response_overlay--error {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image_popup_wrapper__response_overlay__x {
  font-size: 2rem;
  color: red;
}

.image_popup_wrapper__response_overlay__message {
  color: red;
  z-index: 16001;
}

.image_popup_wrapper__response_overlay__try_again {
  padding: 5px 10px;
  background: none;
  border: 1px solid rgb(255, 255, 207);
  color: rgb(255, 255, 207);
  font-size: 1.3rem;
  border-radius: 3px;
  transition: 0.2s;
  margin-top: 15px;
}
.image_popup_wrapper__response_overlay__try_again:hover {
  cursor: pointer;
  filter: brightness(1.08);
}

.carousel_slider_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
.carousel_slider_container div {
  opacity: 1;
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
  position: absolute;
  display: flex;
}
.carousel_slider_container div img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.carousel_slider_container button {
  position: absolute;
  z-index: 10;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 80px;
  height: 100px;
  opacity: 0.3;
  border-radius: 10px;
}
.carousel_slider_container button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.052);
  opacity: 1;
}
.carousel_slider_container button:disabled {
  opacity: 0;
}
.carousel_slider_container button svg {
  width: 80px;
  height: 80px;
}

.carousel_prev_btn {
  left: 10px;
}

.carousel_next_btn {
  right: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: rgb(255, 255, 253);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

input:focus {
  outline: none;
}

.main_div {
  min-height: 100vh;
}

.loading_div,
.fade_out_modal_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: black;
  opacity: 1;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  pointer-events: none;
  row-gap: 15px;
}

.footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: end;
  color: rgb(165, 104, 177);
  font-size: 0.8rem;
  font-weight: 600;
  padding-right: 20px;
  opacity: 0;
  transition: 5s;
}

.absoluteFullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.absoluteLargeFullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
}

.loadingBar_container {
  width: 200px;
  height: 30px;
  border: 1px solid white;
  overflow: hidden;
  z-index: 100;
}

.loadingProgress {
  z-index: 80;
  width: 200px;
  height: 30px;
  background-color: rgb(9, 97, 9);
  transition: 0.2s;
  transform: translateX(-200px);
}

.exposition__main_div {
  min-width: 1180px;
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2500;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(1px);
}

.modalElement {
  position: absolute;
  z-index: 3000;
}